<div class="" ng-controller="TemplateEditController as vm">
  <div class="row">
    <div class="col-sm-12 m-t-20">
      <div class="col-md-3">
        <h4>Email Templates</h4>
      </div>
      <div class="col-md-4">
        <input
          id="searchTemplate"
          type="text"
          class="form-control"
          ng-model="vm.searchTemplate"
          ng-blur="vm.filterTemplates()"
          ng-change="vm.filterTemplates()"
          autocomplete="off"
        />
      </div>
      <div class="col-md-54">
        <div>
          <input
            type="button"
            value="Refresh"
            ng-click="vm.refreshTemplate()"
            class="btn btn-primary"
          />
          <input
            type="button"
            value="Add New"
            ng-click="vm.addNewTemplate()"
            class="btn btn-primary"
          />
        </div>
      </div>
    </div>
  </div>
  <br />
  <div class="row">
    <div class="col-md-12">
      <div
        style="width: {{vm.gridWidth}}px; height: {{vm.gridHeight}}px;"
        ag-grid="vm.gridOptions"
        class="ag-theme-balham ag-basic"
        [getRowHeight]="getRowHeight"
      ></div>
    </div>
  </div>
</div>
